<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Résumé de votre commande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table bg-white rounded">
                    <thead>
                      <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Journey</th>
                        <th scope="col">Date</th>
                        <th scope="col">Departure time</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% 
                            const arrayId = []
                            for( let i=0; i < tickets.length; i++ ) { 
                                arrayId.push(tickets[i]._id)
                        %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%= tickets[i].departure %>/<%= tickets[i].arrival %></td>
                            <td><%= dateFormat(new Date(tickets[i].date)) %> </td>
                            <td><%= tickets[i].departureTime %></td>
                            <td><%= tickets[i].price %>€</td>
                        </tr>
                        <% } %>
                        <tr class="table-danger">
                            <td>Total</td>
                            <td colspan="3"></td>
                            <td><%= tickets.map(ticket => ticket.price).reduce((a, b) => a + b, 0) %>€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="/journeys-to-db" method="post">
                    <input type="hidden" name="arrayid" value="<%= JSON.stringify(arrayId) %>">
                    <button class="btn btn-danger align-self-end">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>