<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bonjour</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('partials/navbar') %>

    <div class="container">
      <div class="row">
        <div class="col-12 d-flex flex-column">
          <h1 class="mt-5 mb-3 text-white">My last trips:</h1>

          <% if (!journeys || journeys.length === 0) { %>
            <h2>Vous n'avez pas fait de voyages 😭</h2>
          <% }else{ %>
            <table class="table bg-white rounded">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Journey</th>
                  <th scope="col">Departure time</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <% for( let i=0; i < journeys.length; i++ ) { %>
                <tr>
                  <td><%= dateFormat(new Date(journeys[i].date['$date'])) %> </td>
                  <td><%= journeys[i].departure %>/<%= journeys[i].arrival %></td>
                  <td><%= journeys[i].departureTime %></td>
                  <td><%= journeys[i].price %>€</td>
                </tr>
                <% } %>
              </tbody>
            </table>
          <% } %>

          <a href="/home" type="button" class="btn btn-danger align-self-end">Home</a>
        </div>
      </div>

    </div>

    <%- include('partials/footer') %>
</body>

</html>